<div id="center">
  <br>
  <div *ngIf="!siker">
    <mat-card class="form-group">
      <form>
        <mat-card-title>Módosítás</mat-card-title>
        <mat-form-field class="full">
          <mat-label>Státusz</mat-label>
          <mat-select  [(ngModel)]="p.status" name="status">
            <mat-option *ngFor="let st of stats" [value]="st.value">
              {{st.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full">
          <mat-label>Összeg</mat-label>
          <input matInput type="number" [(ngModel)]="p.totalAmount" name="totalAmount" />
        </mat-form-field>
        <mat-form-field class="full">
          <mat-label>Fizetési mód</mat-label>
          <mat-select  [(ngModel)]="p.paymentMethod" name="paymentMethod">
            <mat-option *ngFor="let st of fizetesiMod" [value]="st.value">
              {{st.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full">
          <mat-label>Leírás</mat-label>
          <input matInput type="text" ngModel maxlength="15" [(ngModel)]="p.description" name="description" />
        </mat-form-field>
        <br>
        <button style="background-color: aqua" mat-raised-button (click)="update()">Mentés</button>
      </form>
    </mat-card>
  </div>

  <div *ngIf="siker">
    <mat-card class="form-group">
      <mat-card-title>Sikereses módosítás!</mat-card-title>
      <br>
      <button style="margin-top: 15px; background-color: aqua" mat-raised-button routerLink="/list">Listázás</button>
    </mat-card>
  </div>
</div>

